@import '../../../styles/breakpoints';

.container
{
    display: flex;

    padding: 2em;

    background: #f0f0f0;

    flex-flow: row wrap;
    align-items: center;
}

.text
{
    text-align: center;

    flex: 1 1 100%;
    @include media(sm)
    {
        &
        {
            flex: 1 1 50%;
        }
    }

    h1
    {
        margin: 0;
    }
}

.image
{
    margin-top: 1em;

    text-align: center;

    flex: 1 1 100%;
    @include media(sm)
    {
        &
        {
            margin: 0;

            flex: 1 1 50%;
        }
    }

    img
    {
        width: 100%;
    }
}
