@import '../../../styles/mixins';
@import '../../../styles/colors';

.section {
  background-color: $lighterGrey;
}

.container {
  @include container;
}

.text {
  text-align: center;
  flex: 1 1 100%;
  box-sizing: border-box;

  h1 {
    margin: 0;
  }

  @include media(md) {
    & {
      flex: 1 1 50%;
    }
  }
}

.image {
  margin-top: 1em;
  text-align: center;
  flex: 1 1 100%;
  box-sizing: border-box;

  img {
    width: 100%;
    max-width: 30em;
  }

  @include media(md) {
    & {
      padding-left: 2em;
      flex: 1 1 50%;
    }
  }
}
