@import '../../../styles/mixins';
@import '../../../styles/colors';

.section {
}

.container {
  @include container;
  text-align: center;
}

.header {
  flex: 1 1 100%;
}


.image {
  flex: 0 1 auto;

  img {
    width: 100%;
  }

  @include media(md) {
    width: 45%;
  }

  @include media(lg) {
    width: 30%;
    order: 2;
    padding: 0 1em;
  }
}

.text1 {
  flex: 0 1 auto;

  @include media(md) {
    width: 45%;
    padding-left: 1em;
  }

  @include media(lg) {
    width: 30%;
    order: 1;
  }
}


.text2 {
  flex: 0 1 auto;

  @include media(lg) {
    width: 30%;
    order: 3;
  }
}

.text3 {
  order: 4;
  text-align: center;
}