@import '../../../styles/breakpoints';
@import '../../../styles/colors';

.container
{
    display: flex;

    padding: 2em;

    text-align: center;

    background: #f0f0f0;

    flex-wrap: wrap;
    align-items: center;
}
.header
{
    flex: 1 1 100%;
}
.image
{
    width: 100%;
    margin-bottom: 1em;

    flex: 1 1 100%;
    @include media(sm)
    {
        &
        {
            width: 40%;

            flex: 1 1 40%;
        }
    }
}
.text
{
    flex: 1 1 100%;
    @include media(sm)
    {
        &
        {
            padding-left: 1em;

            flex: 1 1 55%;
        }
    }
}

.callToAction
{
    display: block;

    margin-top: 1em;
    padding: 1em;

    text-decoration: none;

    color: $primary;
    border: 1px solid $primary;
    border-radius: 1em;
    background: none;

    &:hover
    {
        color: $white;
        background: $primary;
    }
}
