@import '../../../styles/mixins';
@import '../../../styles/colors';

.section {
  background-color: $lightGrey;
}

.container {
  @include container;
}

.text {
  flex: 0 1 auto;
  text-align: center;
  max-width: 30em;
  box-sizing: border-box;

  @include media(lg) {
    width: 50%;
    padding-right: 2em;
  }
}

.form {
  flex: 0 1 auto;
  box-sizing: border-box;

  @include media(lg) {
    & {
      width: 50%;
    }
  }
}