@import '../../../styles/breakpoints';
@import '../../../styles/colors';

.section {
  display: flex;
  flex-flow: row wrap;
  background-color: $lighterGrey;
}

.text {
  flex: 1 1 100%;
  text-align: center;
}

.card {
  flex: 1 1 100%;
  background-color: $white;
  margin: 1em;

  box-shadow: 0 0 1em $darkerGrey;
  border-radius: 1em;
  overflow: hidden;

  img {
    width: 100%;
    border-bottom: 1px dashed $darkerGrey;
  }

  p {
    text-decoration: none;
    color: $black;
    text-align: center;
  }
}