@import '../../../styles/mixins';

.container {
  max-width: 60em;
  margin: auto;
}

.header, .subheader {
  width: 100%;
  text-align: center;
}

.values {
  @include container;
  width: 100%;
}

.value {
  text-align: center;
  margin: 2em 0;
  box-sizing: border-box;
  flex: 1 1 100%;
  padding: 0 1em;

  @include media(md) {
    & {
      flex: 1 1 30%;
    }
  }

  img {
    max-width: 100%;
    height: 8em;
  }
}
